* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.calculator__display {
    font-size: inherit;
    padding: 10px;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.calculator__buttons button {
    font-size: inherit;
}